body {
  background-image: linear-gradient(to bottom right, #c9ece8, #074c47);
}

h1 {
  color: #19625a;
  margin-left: 475px;
  font-family: Calibri, sans-serif;
  font-size: 30pt;
}

h2 {
  color: #737688;
  margin-left: 350px;
  font-family: Calibri, sans-serif;
  font-size: 16pt;
}

#photo {
  margin-left: 225px;
  text-align: center;
  padding: 25px;
  background: #a88ba8;
  width: 625px;
  color: #343a39;
  font-family: Helvetica, sans-serif;
}

#rcorners1 {
  border-radius: 25px;
  background: #91b2b2;
  padding: 20px;
  width: 625px;
  margin-left: 225px;
  font-family: sans-serif;
  text-align: center;
}

.button {
  background-color: #4c214a;
  border: none;
  color: #dadcdc;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: sans-serif;
  margin-left: 425px;
  cursor: pointer;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

img {
  border-radius: 20%;
}

a {
  color: #dadcdc;
}
